<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        .content {
            max-width: 700px;
            margin: auto;
            min-height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
        }

        #footer {
            position: fixed;
            bottom: 0;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div id="content" class="content">{% block content %}{% endblock %}</div>

    {% block javascript %}{% endblock %}

    <div id="footer" style="text-align: right">
        {% block footer %}
        &copy; Submission by <a href="https://github.com/rootbid">Deepansh Sood</a> [21deepansh@gmail.com]
        {% endblock %}
    </div>
</body>

</html>