{% extends "base.html" %}

{% block head %}
<script src="https://stackml.com/library-js/stackml.min.js"></script>
<title>
    Level2 - StackML Assignment
</title>

{% endblock %}

{% block content %}
<h3>Level 2</h3>
{% if file %}
<table>
    <tr>
        <td>
            <div style="width: 100%; height: auto;">
                <img style="display: block; margin: 0 auto; width: auto; height: 300px;" id="image"
                    src=" {{ url_for('static', filename='images/uploads/' + file) }}" crossorigin="anonymous"
                    alt="input image for face detection model prediction">
                <canvas style="display: block; margin: 0 auto; width: auto; height: 300px;" id="myCanvas">
                </canvas>
            </div>
        </td>
        <td>
            <div id="switch">
                <button class="button button0" style="display: inline;" id="btn1" onclick="callStackML()">Detect
                    Faces</button><br>
                <p style="display: none;" id="para_text">Select Faces to censor</p><br>
                <div id="myDiv"></div><br>
                <button class="button button0" style="display: none;" id="btn2" onclick="censorFace()">Censor
                    Face</button>
            </div>
        </td>
    </tr>
</table>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
    async function callStackML() {
        await stackml.init({ 'accessKeyId': '148bc43fed00a0a5c927245c91348b89' });
        // load face detection model
        const model = await stackml.faceDetection(callbackLoad);

        // make prediction with the image
        model.detect(document.getElementById('image'), callbackPredict);

        function callbackLoad() {
            console.log('callback after face detection model is loaded!');
        }

        // callback after prediction
        function callbackPredict(err, results) {
            console.log(results);

            // draw output keypoints in the image
            model.draw(document.getElementById('myCanvas'), document.getElementById('image'), results);

            window.output = results.outputs;
            // label the faces detected
            for (var key in results.outputs) {
                labelFaces(key, results.outputs);
            }
            document.getElementById("btn1").style.display = "none";
            for (var key in results.outputs) {
                switchDiv(key);
            }
            document.getElementById("para_text").style.display = "inline";
            document.getElementById("btn2").style.display = "inline";
        }

        // label faces function
        function labelFaces(key, output) {
            const canvas = document.getElementById('myCanvas');
            const contex = canvas.getContext("2d");

            // The size of the font
            contex.font = 'bold 40px serif';
            // use these alignment properties for "better" positioning
            contex.textAlign = "left";
            contex.textBaseline = "top";
            contex.fillStyle = "green";
            // draw the emoji with the help of unicode
            contex.fillText(key, output[key].box.x, output[key].box.y);
        }

        function switchDiv(key) {

            var myDiv = document.getElementById("myDiv");

            // creating checkbox element 
            var checkbox = document.createElement('input');

            // Assigning the attributes 
            // to created checkbox 
            checkbox.type = "checkbox";
            checkbox.name = "face";
            checkbox.value = key;
            checkbox.id = "cb" + key;

            // creating label for checkbox 
            var label = document.createElement('label');

            // assigning attributes for  
            // the created label tag  
            label.htmlFor = "cb" + key;

            // appending the created text to  
            // the created label tag  
            label.appendChild(document.createTextNode('Face ' + key));

            // appending the checkbox 
            // and label to div 
            myDiv.appendChild(checkbox);
            myDiv.appendChild(label);
            var br = document.createElement('br');
            myDiv.appendChild(br);
        }
    }

    function censorFace() {
        // fetch selection of checkboxes
        var selections = getCheckedCheckboxesFor("face");
        selections.forEach(drawEmoji);
    }

    function drawEmoji(value) {
        const canvas = document.getElementById('myCanvas');
        const contex = canvas.getContext("2d");

        // Initialize an image object for loading the emoji
        var img = new Image();

        // drawing of the emoji
        img.onload = function () {
            contex.drawImage(
                img,
                window.output[parseInt(value)].box.x,
                window.output[parseInt(value)].box.y,
                Math.floor(window.output[parseInt(value)].box.width),
                Math.floor(window.output[parseInt(value)].box.height));

        };
        img.src = " {{ url_for('static', filename='images/expressions/happy.png') }}";
        document.getElementById("cb" + value).disabled = true;
    }

    function getCheckedCheckboxesFor(checkboxName) {
        var checkboxes = document.querySelectorAll('input[name="' + checkboxName + '"]:checked'), values = [];
        Array.prototype.forEach.call(checkboxes, function (el) {
            values.push(el.value);
        });
        return values;
    }
</script>
{% endblock %}