{% extends "base.html" %}

{% block head %}
<script src="https://stackml.com/library-js/stackml.min.js"></script>
<title>
    Level1 - StackML Assignment
</title>
{% endblock %}

{% block content %}
<h3>Level 1</h3>
{% if file %}
<table>
    <tr>
        <td>
            <div style="width: 100%; height: auto;">
                <img style="display: block; margin: 0 auto; width: auto; height: 300px;" id="image"
                    src=" {{ url_for('static', filename='images/uploads/' + file) }}" crossorigin="anonymous"
                    alt="input image for face landmark detection model prediction">
                <canvas style="display: block; margin: 0 auto; width: auto; height: 300px;" id="myCanvas">
                </canvas>
            </div>
        </td>
        <td><button class="button button0" onclick="callStackML()">Censor Face</button></td>
    </tr>
</table>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
    async function callStackML() {
        await stackml.init({ 'accessKeyId': '148bc43fed00a0a5c927245c91348b89' });
        // load Face Landmark Detection model
        const model = await stackml.faceLandmark(callbackLoad);

        // make prediction with the image
        model.detect(document.getElementById('image'), callbackPredict);

        function callbackLoad() {
            console.log('callback after face landmark detection model is loaded!');
        }

        // callback after prediction
        function callbackPredict(err, results) {
            console.log(results)

            // draw output keypoints in the image
            model.draw(document.getElementById('myCanvas'), document.getElementById('image'), results);

            // Censor the face detected
            var output = results.outputs
            for (var key in output) {
                drawEmoji(key, output)
            }
        }

        // censor face function
        function drawEmoji(key, output) {
            const canvas = document.getElementById('myCanvas');
            const contex = canvas.getContext("2d");

            // Initialize an image object for loading the emoji
            var img = new Image();

            // drawing of the emoji
            img.onload = function () {
                contex.drawImage(
                    img,
                    output[key].detection.box.x,
                    output[key].detection.box.y,
                    Math.floor(output[key].detection.box.width),
                    Math.floor(output[key].detection.box.height));

            };

            img.src = " {{ url_for('static', filename='images/expressions/happy.png') }}"

        }
    }
</script>
{% endblock %}