{% extends "base.html" %}

{% block head %}
<script src="https://stackml.com/library-js/stackml.min.js"></script>
<title>
    Level3 - StackML Assignment
</title>

{% endblock %}

{% block content %}
<h3>Level 3</h3>
{% if file %}
<table>
    <tr>
        <td>
            <div style="width: 100%; height: auto;">
                <img style="display: block; margin: 0 auto; width: auto; height: 300px;" id="image"
                    src=" {{ url_for('static', filename='images/uploads/' + file) }}" crossorigin="anonymous"
                    alt="input image for face detection model prediction">
                <canvas style="display: block; margin: 0 auto; width: auto; height: 300px;" id="myCanvas">
                </canvas>
            </div>
        </td>
        <td><button class="button button0" onclick="callStackML()">Censor Emotion</button></td>
    </tr>
</table>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
    async function callStackML() {
        await stackml.init({ 'accessKeyId': '148bc43fed00a0a5c927245c91348b89' });
        // load Face Expression Recognition model
        const model = await stackml.faceExpression(callbackLoad);

        // make prediction with the image
        model.detect(document.getElementById('image'), callbackPredict);

        function callbackLoad() {
            console.log('callback after face expression model is loaded!');
        }

        // callback after prediction
        function callbackPredict(err, results) {
            console.log(results);

            // draw output keypoints in the image
            model.draw(document.getElementById('myCanvas'), document.getElementById('image'), results);

            var output = results.outputs
            for (var key in results.outputs) {
                values = []
                for (var exp in results.outputs[key].expressions) {
                    values.push(results.outputs[key].expressions[exp].probability);
                }
                const probability = 1;
                var closest = values.sort((a, b) => Math.abs(probability - a) - Math.abs(probability - b))[0];
                console.log(closest)
                drawEmoji(key, output, closest)
            }
        }
        // censor face function
        function drawEmoji(key, output, closest) {
            const canvas = document.getElementById('myCanvas');
            const contex = canvas.getContext("2d");

            // Initialize an image object for loading the emoji
            var img = new Image();

            // drawing of the emoji
            img.onload = function () {
                contex.drawImage(
                    img,
                    output[key].detection.box.x,
                    output[key].detection.box.y,
                    Math.floor(output[key].detection.box.width),
                    Math.floor(output[key].detection.box.height));

            };

            // match the expression with the emoji
            for (var exp in output[key].expressions) {
                if (output[key].expressions[exp].probability == closest) {
                    if (output[key].expressions[exp].expression == "happy") {
                        img.src = " {{ url_for('static', filename='images/expressions/happy.png') }}";
                    } else if (output[key].expressions[exp].expression == "angry") {
                        img.src = " {{ url_for('static', filename='images/expressions/angry.png') }}";
                    } else if (output[key].expressions[exp].expression == "disgusted") {
                        img.src = " {{ url_for('static', filename='images/expressions/disgusted.png') }}";
                    } else if (output[key].expressions[exp].expression == "fearful") {
                        img.src = " {{ url_for('static', filename='images/expressions/fearful.png') }}";
                    } else if (output[key].expressions[exp].expression == "neutral") {
                        img.src = " {{ url_for('static', filename='images/expressions/neutral.png') }}";
                    } else if (output[key].expressions[exp].expression == "sad") {
                        img.src = " {{ url_for('static', filename='images/expressions/sad.png') }}";
                    } else if (output[key].expressions[exp].expression == "surprised") {
                        img.src = " {{ url_for('static', filename='images/expressions/surprised.png') }}";
                    }
                }
            }
        }
    }
</script>
{% endblock %}