{% extends "base.html" %}

{% block head %}
<title>
    Home - StackML Assignment
</title>
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}


{% block content %}
<h2>Upload an image</h2>
<form method=post enctype=multipart/form-data> <input type=file name=file>
    <br>
    <strong>Select a level:</strong><br>
    <input type="radio" name="levels" id="level_1" value="level_1"> Level 1: Censor all faces.<br>
    <input type="radio" name="levels" id="level_2" value="level_2"> Level 2: Censor selective faces.<br>
    <input type="radio" name="levels" id="level_3" value="level_3"> Level 3: Censor faces per emotion.<br>
    <br><input class="button button0" type=submit value="Review Level">
</form>
{% endblock %}